.about {
  background-color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-image {
  flex: 1;
  max-width: 400px;
  border-radius: 5px;
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}